:root {
   --color-white: #FFFFFF;
   --color-black: #000000;
   --color-green: #49B649;
   --color-translucent: #00000025;

   --transition-default: 0.2s;

   --border-width-default: 2px;
   
   --border-radius-small: 6px;
   --border-radius-default: 10px;
   --border-radius-circle: 100%;

   --font-size-small: 18px;

   --line-height-normal: 24px;
   --line-height-medium: 30px;
   --line-height-increased: 70px;
}